.bio-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    
}
@media screen and (max-width: 500px) {
    .bio-container{
       flex-wrap: wrap;
    }
  }

.profile {
    width:20rem;
    min-width:14rem;
    height: auto;
    border-radius:14px;
    margin: 1rem;
}
@media screen and (max-width: 500px) {
    .profile{
       width: 8.6rem;
    }
  }

.intro {
    margin-right: 4rem;
    max-width: 48vw;
    min-height: 14rem;
    margin: 1rem;
    color: #8A5211;
    text-align: left;
    font-weight: 400;
    line-height: 2.2rem;
    font-size:1.5vw;
}
@media screen and (max-width: 500px) {
    .intro{
        min-width: 78%;
        line-height: 1.9rem;
        font-size:2.9vw;
    }
  }

.aboutme-title {
    text-align: center;
    font: 400 10vh "Vibur";
    color: white;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #f0c15b, 0 0 0.5em #cfb028, 0 0 0.1em #cf8f3a, 0 10px 3px rgb(210 152 45)

}
.aboutme-title b{
    text-align: center;
    font: 400 10vh "Vibur";
    color: white;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #f0c15b, 0 0 0.5em #cfb028, 0 0 0.1em #cf8f3a, 0 10px 3px rgb(210 152 45)

}
.aboutme-technicalskills{
    text-align: left;
    font-size: 1.5rem;
    /* font: 400 5vh "Vibur"; */
    color:#7E4A16;
    font-weight: 600;
}
.aboutme-title b span{
    animation: blink linear infinite 2s;
  }
  .aboutme-title b span:nth-of-type(2){
    animation: blink linear infinite 3s;
  }
  @keyframes blink {
    78% {
      color: inherit;
      text-shadow: inherit;
    }
    79%{
       color: rgb(206, 188, 25);
    }
    80% {
      
      text-shadow: none;
    }
    81% {
      color: inherit;
      text-shadow: inherit;
    }
    82% {
      color: rgb(250, 239, 89);
      text-shadow: none;
    }
    83% {
      color: inherit;
      text-shadow: inherit;
    }
    92% {
      color: rgb(221, 209, 38);
      text-shadow: none;
    }
    92.5% {
      color: inherit;
      text-shadow: inherit;
    }
  }