.bio-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    width:20rem;
    min-width:14rem;
    height: auto;
    border-radius:14px;
    margin: 1rem;
}

.intro {
    margin-right: 4rem;
    max-width: 48vw;
    min-height: 14rem;
    margin: 1rem;
    /* font-size: 1.4rem; */
    text-align: left;
    line-height: 2.2rem;
    font-size:1.5vw;
    
}