@import url(//fonts.googleapis.com/css?family=Vibur);
html,body{
  height:100%;
  
}
.project-body{
    background:linear-gradient(90deg, rgb(87 63 134) 55%, rgb(72 60 133) 61%, rgb(78 69 145) 71%, rgb(72 60 133) 78%, rgb(60 50 119) 100%);}
/* body {
  background: #112 url(//images.weserv.nl/?url=i.imgur.com/6QJjYMe.jpg)  center no-repeat;
  background-size:cover;
  margin:0
} */
.logo {
  /* text-align: center; */
  width: 45%;
  height: 65px;
  /* margin: auto; */
  margin-left: 3%;
  /* position: absolute; */
  /* top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
   user-select: none;
}

.logo b{
  font: 100 10vh "Vibur";
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
}
.logo b span{
  animation: blink linear infinite 2s;
}
.logo b span:nth-of-type(2){
  animation: blink linear infinite 3s;
}
@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: #333;
  }
  80% {
    
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

/* 
follow me @nodws
#btn-twtr{
  clear:both;
  color:#fff;
  border:2px solid;
  border-radius:3px;
  text-align:center;
  text-decoration:none;
  display:block;
  font-family:sans-serif;
  font-size:14px;
  width:13em;
  padding:5px 10px;
  font-weight:600;
  position:absolute;
  bottom:20px;
  left:0;
  right:0;
  margin:0 auto;
  background:rgba(0,0,0,0.2);
  box-shadow:0 0 0px 3px rgba(0,0,0,0.2);
  opacity:0.4
}#btn-twtr:hover{color:#fff;opacity:1} */

.neon {
    color: #fff;
    text-shadow:0 0 5px #e8b1de, 0 0 10px #bc8bcb, 0 0 20px #fff, 0 0 40px #7f4d95, 0 0 80px #6b4e9c, 0 0 90px #8857a4, 0 0 100px #a483c6, 0 0 150px #997dbd;
    font-weight: 700;
      font-weight: 400;
  text-align: center;
  font-size:12px;
  /* text-transform: uppercase; */
 
  }
  .tool-bg{
    background: rgb(153,7,156);
    background:linear-gradient(90deg, rgb(196 123 180) 55%, rgb(175 109 177) 61%, rgb(149 105 179) 71%, rgb(185 136 201) 78%, rgb(160 120 188) 100%);  }

    .MuiButton-root.navbar-text{
        font-size: 1.3rem;
    }