.f-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 57rem;
    margin: auto;
}

.flex-container{
    padding: 1rem;
    /* width: 5rem; */
    /* background-color: #d095bf; */
    font-size: 20px;
}