.f-box{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    max-width: 48rem;
}

.flex-container{
    justify-content: center;
    padding: 1.1rem;
    font-size: 1.3rem;
}
.sunflower-emoji{
    width: 1.2rem;
}