
@import url(//fonts.googleapis.com/css?family=Vibur);

.p-cards{
  display: flex;
  flex-wrap: wrap;
  max-width: 85rem;
  justify-content: center;
}
.all-cards{
    /* display: flex;
        height: min-content;
    max-width: 85rem; */
    height: min-content;
    justify-content: center;
    border-radius: 5px; /* 5px rounded corners */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    /* background: pink; */
    margin: 1rem;
    border-radius: 14px;
    
}

.card-project {
    margin: 1rem;
    border-radius: 14px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container-project {
    padding: 2px 16px;
    border-radius: 14px;
  }

  .image-project {
      width:100%;
      border-radius: 14px;
  }

  .logo {
    /* text-align: center; */
    height: 65px;
    /* margin: auto; */
    /* position: absolute; */
    margin: 1rem;
    /* top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
    padding-bottom: 2rem;
     user-select: none;
  }
  
  .logo b{
    font: 400 10vh "Vibur";
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #f0c15b, 0 0 0.5em #cfb028, 0 0 0.1em #cf8f3a, 0 10px 3px rgb(210 152 45)
   
  }
  .logo b span{
    animation: blink linear infinite 2s;
  }
  .logo b span:nth-of-type(2){
    animation: blink linear infinite 3s;
  }
  @keyframes blink {
    78% {
      color: inherit;
      text-shadow: inherit;
    }
    79%{
       color: rgb(206, 188, 25);
    }
    80% {
      
      text-shadow: none;
    }
    81% {
      color: inherit;
      text-shadow: inherit;
    }
    82% {
      color: rgb(250, 239, 89);
      text-shadow: none;
    }
    83% {
      color: inherit;
      text-shadow: inherit;
    }
    92% {
      color: rgb(221, 209, 38);
      text-shadow: none;
    }
    92.5% {
      color: inherit;
      text-shadow: inherit;
    }
  }
  