.f-box{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    max-width: 48rem;
}
@media screen and (max-width: 500px) {
    .f-box{
        justify-content: center;
    }
}

.flex-container{
    padding: .8rem;
    font-size:1rem;
}
/* @media screen and (max-width: 500px) {
    .flex-container{
        font-size:1.1rem;
    }
} */
.sunflower-emoji{
    width: 1.2rem;
}