.garden{
    /* max-Width: 200; */
    display:grid;
    grid-template-columns: "200px 200px 200px " ;
}
.MuiCardMedia-img.jk{
    object-fit: contain;
}
.MuiCardActionArea-root.actionArea{
    text-align: center;
}
.a{
    border: solid #b19cd9 2px;
    grid-area: a;
}
.b{
    background-color:pink;
    border: solid#b19cd9 2px;
    grid-area: b;
}
.c{
    border: solid #b19cd9  2px;
    grid-area: c;

}
.MuiAppBar-colorPrimary.navBar{
    background-color: rgb(10, 0,210);opacity:0.2;
}