.bg-image-project{
    background-image: url("https://images.unsplash.com/photo-1523380360198-653413ad178b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
    background-size: cover;
    /* background-repeat: no-repeat; */
    width: 100vw;
    height: 100%;
}
.bg-image-home{
    background-image: url("https://images.unsplash.com/photo-1523380360198-653413ad178b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
    background-size: cover;
    /* background-repeat: no-repeat; */
    width: 100vw;
    height: 100vh;
}
.MuiAvatar-img{
    width: 200px;
    height: 200px;
}
.garden{
    /* max-Width: 200; */
    display:grid;
    /* background-image: url("https://images.unsplash.com/photo-1523380360198-653413ad178b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"); */
    /* background-repeat: no-repeat; */
    /* grid-template-columns: "2fr 1fr 1fr " ; */
    grid-template-areas: "a b" "c" ;
    object-fit: contain;
}
.MuiCard-root {
    max-width: 45rem;
}
.MuiCardMedia-img.jk{
    object-fit: contain;
    height: 20rem;
}
.MuiCardActionArea-root.actionArea{
    text-align: center;
}
.a{
    border: solid #c585c5 2px;
    grid-area: a;
}
.b{
    background-color:pink;
    border: solid#b19cd9 2px;
    grid-area: b;
    object-fit: contain;
}
.c{
    border: solid #b19cd9  2px;
    grid-area: c;

}
.MuiAppBar-colorPrimary.navBar{
    background-color:#b19cd9;
    border: solid #aa3caa 2px;
}