.footer {
    background-image: url("https://images.unsplash.com/photo-1537355233-8997913eaaa7?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=800&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    height:8rem;
    background-position: center ;
    margin-top: 1rem;
}
@media screen and (max-width: 730px) {
    .footer {
        height:7rem; 
    }
}
@media screen and (max-width: 530px) {
    .footer {
        height:5rem; 
    }
}

.footer-text {
    text-align: center;
    margin: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 2.7rem;
    color: white;
    font-weight: 500;
}
@media screen and (max-width: 730px) {
    .footer-text {
        font-size: 1.9rem;
    }
  }

  @media screen and (max-width: 530px) {
    .footer-text {
        font-size: 1.2rem;
    }
  }